.card, .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  max-inline-size: var(--measure);
  margin: 0 auto;
}

.page {
  align-items: start;
  padding: 0 var(--s2) var(--s2);
  &.padtop {
    padding-top: var(--s2);
  }
  & > *:not(svg) + * {
  	margin-top: var(--s1);
  }
}

.center, .button {
  align-self: center;
}

.button {
  width: 100%;
  padding: var(--s0);
}

.email {
  text-decoration: none;
  color: currentColor;
}

.pronoun {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  color: var(--color-dark);
  &.single {
    @media (prefers-reduced-motion: no-preference) {
      color: var(--color-darkish);
      animation: cubic-bezier(.43,.05,.52,.95) 2s pulse infinite alternate;
    }
  }
}
@keyframes pulse {
  from {
    color: var(--color-darkish);
    transform: rotate(180deg);
  }
  to {
    color: var(--color-dark);
  }
}
