.downArrow {
  margin: .5em;
  width: 1em;
  height: 1em;
  & path {
    fill: none;
    stroke: #333333;
    stroke-width: .05em;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: cubic-bezier(.43,.05,.52,.95) 2s heartbeat infinite alternate;
  }
  opacity: 50%;
  &:hover {
    opacity: 100%;
  }
  transition: opacity .25s ease-in-out;
  animation: cubic-bezier(.78,-0.01,.63,.92) 10s fade-in;
}

@keyframes heartbeat {
  from {
    d: path("M2,2 L5,6 L8,2");
  }

  to {
    d: path("M1.5,2 L5,5.5 L8.5,2");
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 50%;
  }
}
