.navArrow {
  margin: var(--s1);
  width: var(--s0);
  height: var(--s0);
  align-self: center;
  &.down {
    
  }
  &.up {
    transform: rotate(180deg);
  }
  & path {
    fill: none;
    stroke: var(--color-darkish);
    stroke-width: .05em;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  @media (prefers-reduced-motion: no-preference) {
    &.squish path {
        animation: ease-in-out .1s forwards squish 1;
    }
    &:not(.squish) path {
        animation: cubic-bezier(.43,.05,.52,.95) 2s heartbeat infinite alternate;
    }
  }
  opacity: 50%;
  &:hover {
    opacity: 100%;
  }
  transition: opacity .25s ease-in-out;
  cursor: pointer;
}

@keyframes heartbeat {
  from {
    d: path("M2,2 L5,6 L8,2");
  }

  to {
    d: path("M1.5,2 L5,5.5 L8.5,2");
  }
}

@keyframes squish {
  from {
    d: path("M2,2 L5,6 L8,2");
  }
  to {
    d: path("M4,1 L5,7 L6,1");
  }
}
