.canvas {
  image-rendering: pixelated;
  width: 100%
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  max-width: var(--measure);
  /* gap: var(--s-6); */
  padding: var(--s-5);
  background-color: var(--color-dark);
}

.create {
  width: 100%;
  height: 100%;
  font-size: 0;
  & path {
    fill: none;
    stroke: var(--color-mid);
    stroke-width: var(--s-7);
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

/* this is... a mess. come back! */
/* TODO: make this not awful */
.paint {
  display: flex;
  align-self: center;
  gap: var(--s-3);
  flex-direction: row;
  width: fit-content;
  & .canvas {
    /* height: 80vmin; */
    /* width: 80vmin; */
    max-width: 256px;
    width: 100vmin;
    flex: 1 1 auto;
    border: solid var(--border-thin) var(--color-dark);
  }
  & .palette {
    flex: 1 0 var(--s3);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: var(--s4);
    & button {
      flex-grow: 1;
      flex-shrink: 1;
      transition: margin ease-in-out .1s;
      border: var(--border-thin) solid var(--color-dark);
      &:not(.selectedColor) {
        margin-left: var(--s-1);
      }
      &.selectedColor {
        margin-right: var(--s-1);
      }
    }
  }
}
