.canvas {
  image-rendering: pixelated;
  width: 100%
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  max-width: var(--measure);
  /* gap: var(--s-6); */
  padding: var(--s-5);
  background-color: var(--color-dark);
}

.create {
  width: 100%;
  height: 100%;
  font-size: 0;
  & path {
    fill: none;
    stroke: var(--color-mid);
    stroke-width: var(--s-7);
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

.paint {
  display: grid;
  grid-template-columns: 6fr 1fr;
  justify-content: center;
  max-width: var(--measure);
  max-height: 100svh;
  align-self: center;
  height: 100%;
  width: 100%;
  /* width: min(100%, var(--measure)); */
  /* width: 100vmin; */
  & > * {
    max-height: 100svh;
  }
  & .canvas {
    height: 100%;
    max-width: 100svh;
    aspect-ratio: 1 / 1;
  }
  & .palette {
    margin-left: var(--s-3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    & button {
      aspect-ratio: 1 / 1;
      flex-grow: 1;
      flex-shrink: 1;
      transition: margin-left ease-in-out .1s;
      border: var(--border-thin) solid var(--color-dark);
      & code {
        color: black;
        user-select: none;
        -webkit-user-select: none;
      }
      &:not(.selectedColor) {
        margin-left: var(--s-1);
      }
    }
  }
}
